source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1, netstandard2.0, netstandard2.1
nuget FSharp.Core
nuget Fable.Core


group Test

source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1, netstandard2.0, netstandard2.1
nuget Expecto
nuget FSharp.Core
github xyncro/aether:8.3.1 src/Aether/Aether.fs


group Demo

source https://api.nuget.org/v3/index.json

storage: none
framework: netcoreapp3.1, netstandard2.0, netstandard2.1
nuget FSharp.Core
nuget Fable.Core
nuget Fable.React
nuget Feliz
github xyncro/aether:8.3.1 src/Aether/Aether.fs
